@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사이트 전체 기본 폰트 - Pretendard */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
html,
body,
:root {
  font-family: 'Pretendard-Regular';
}

.no-scroll::-webkit-scrollbar {
  display: none;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}